In [0]:
-- Gold テーブル定義
CREATE OR REPLACE TABLE 05_gold_nyctaxi(
  pickup_date date, 
  pickup_borough string,
  pickup_zone string,
  payment_type string,
  total_trip_count bigint,
  total_passenger_count bigint,
  total_trip_distance double,
  total_tip_amount double,
  total_fare_amount double,
  total_total_trip_amount double
);

-- Silver 加工データを Gold にロード
INSERT INTO 05_gold_nyctaxi 
SELECT 
  pickup_date, suburb, neighbourhood, payment_type,
  count(*),
  sum(passenger_count),
  sum(trip_distance),
  sum(tip_amount),
  sum(fare_amount) + sum(extra) + sum(mta_tax),
  sum(total_amount)
FROM 05_silver_nyctaxi
GROUP BY pickup_date, payment_type, suburb , neighbourhood;

SELECT * FROM 05_gold_nyctaxi LIMIT 10;

-- 各種 DML
DELETE FROM 05_gold_nyctaxi WHERE total_tip_amount = 0;
UPDATE 05_gold_nyctaxi SET payment_type = "Credit Card" WHERE payment_type = "Credit";
DROP TABLE 05_gold_nyctaxi;

-- CTAS で定義することも可能
CREATE OR REPLACE TABLE 05_gold_nyctaxi AS
SELECT 
  pickup_date, suburb as pickup_borough, neighbourhood as pickup_zone, payment_type,
  count(*) as total_trip_count,
  sum(passenger_count) as total_passenger_count,
  sum(trip_distance) as total_trip_distance,
  sum(tip_amount) as total_tip_amount,
  sum(fare_amount) as total_fare_amount,
  sum(total_amount) as total_total_amount
FROM 05_silver_nyctaxi
GROUP BY pickup_date, payment_type, suburb , neighbourhood;

SELECT * FROM 05_gold_nyctaxi LIMIT 10;